# --- Jupyter ---
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# --- Data (원본/전처리 모두 무시) ---
data/raw/
data/processed/

# --- Python 캐시/환경 ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- 가상환경 ---
venv/
.env/

# --- OS/IDE 잡파일 ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- 실행 산출물(선택) ---
outputs/models/
outputs/figures/
